#fluid-background {
    position: fixed;
    z-index: -1;
}

.content #seccion-roja {
    position: relative;
    z-index: 1;
    color: white; /* Texto en blanco */
}

section {
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
}